* {
    box-sizing: border-box;
    margin: 5px;
    font-family: "Oswald", sans-serif;
}

#pokedex-title {
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 25px;
}

body {
    font-weight: 400;
}